/*整体body的默认格式*/
body {
  font-family: "Microsoft YaHei", Arial, Georgia, "Times New Roman", serif;
  font-size: 12px;
  margin: 0px;
  background-color: #f8debc;
  color: #5d5d5d;
}

/*无序列表、有序列表、行*/
ul,ol,li {
  list-style: none;
}

/*超链接设定*/
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
/*鼠标悬浮状态*/
a:hover {
  text-decoration: none;
}

.logo {
  height: 92px;
  width: 94px;
  float: right;
}

.personal {
  height: 83px;
  width: 200px;
  float: left;
  padding: 5px 0px;
}

.personal2 {
  height: 83px;
  width: 600px;
  float: left;
  padding: 5px 0px;
}

/*导航*/
nav {
  height: 39px;
  margin: 0 auto;
  overflow: hidden;
  background: url(../images/index_06.jpg) repeat-x;
  text-transform: capitalize;
  font-size: 14px;

}
nav ul {

  text-align: center;
  width: 650px;
  padding: 10px 0px 10px 50px;
  margin: 0 auto;
}
nav ul li {

  float: left;
  border-right: 1px solid #3e3e3e;
  padding: 3px 10px;
}
nav ul .li2 {
  float: left;
  border-right: none;
  padding: 0px 10px;
}
nav ul li a {
  color: inherit;
  padding: 3px 25px;
}

nav ul li a:hover {
  color: #fff;
  background: #008b8b;
}

/* 设置正文居中，凝胶布局 */
.inner {
  width: 1000px;
  height: 1250px;
  margin: 0 auto 0 auto;
  background: rgb(255, 255, 255);
}

.topall {
  clear: both;
  width: auto;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.top {
  width: 1000px;
  height: 92px;
  overflow: hidden;
  margin: 0 auto;
}

/*页脚*/
footer {
  background: #2c2c2c;
  padding: 20px 0px;
}
footer ul {
  text-align: center;
  width: 400px;
  padding: 10px 0px 10px 50px;
  margin: 0 auto;
}
footer ul li {
  float: left;
  border-right: 1px solid #3e3e3e;
  padding: 0px 10px;
}
footer ul > li:nth-child(6) {
  border-right: none;
}
footer p {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}
footer ul .li2 {
  float: left;
  border-right: none;
  padding: 0px 10px;
}


/*表头*/
caption {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 24px;
  color: #008b8b;
  padding: 50px 0px 20px 0px;
  font-family: "SimSun";
  font-weight: 800;
}

marquee{
  font-size: xx-large;
}

